.login{
    height: 100vh;
    background-color: white;
    /* background-image: linear-gradient(to right bottom,rgba(255, 237, 136, 0.63), rgba(170, 17, 86, 0.555)); */
    /* , url('../Images/loginbg.jpg'); */
    /* background-size: cover; */
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
     url("../Images/wave_01.png"), url('../Images/bg2.png');
    /* background-size: 100%; */
    background-repeat: repeat;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.login_form{
    display: flex;
    width: 70vw;
    height: 70vh;
    background-image: linear-gradient(105deg, #2d3a82  0%, #2d3a82  50%,
         rgba(0, 0, 0, 0) 50%), url('../Images/image 8 (1).png');
    background-size: cover;
    background-position: center;
    top: 10%;
    left: 22%;
    transform: translate(22%, 10%);
    /* border: 1px solid rgba(163, 0, 0, 0.3); */
    /* text-align: right; */
    animation-name: moveInTop;
    animation-duration: 3s;
}

@keyframes moveInTop {
    0%{
        opacity: 0;
        top: 10%;
        left: 22%;
        transform: translate(22%, 10%) translateY(-100px)
    }
    /* 50%{
        opacity: 0.5;
        transform:  translateY(-50px)
    } */
    100%{
        opacity: 1;
        top: 10%;
        left: 22%;
        transform: translate(22%, 10%) translateY(0)
    }
}

.form_details{
    padding-left: 5%;
    padding-top: 2%;
    color: white;
}

.form_detail{
    margin-bottom: 2%;
}

.form_label{
    display: block;
    width: 45vw;
    padding: 5px;
}

.form_input{
    padding: 1.5%;
    /* border: 1px solid #880044; */
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    width: 20vw;
    color: white;
}

.form_input:focus{
    outline: none;
    border: 2px solid #f95736;
}

.back{
    height: 10vh;
    position: fixed;
    top: 15%;
    left: 4%;
    transform: translate(4%, 15%);
    z-index: 99;
}


.login_button{
    background: transparent;
    width: 14vw;
    padding: 1.5%;
    border-radius: 20px ;
    border: 2px solid #f95736;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    /* color: white; */
}

.login_button:hover{
    transform: translateY(-2%);
    box-shadow: 0 10px 20px rgba(105, 104, 104, 0.356);
}
.selected{
    margin-left: 15%;
    border-bottom: 2px solid #f95736;
}

.selected:hover{
    
}

a{
    color: white;
    text-decoration: none;
}

.form_footer{
    margin-top: -5%;
    text-align: center;
    display: block;
    background-color:white;
     padding: 4px;
     line-height: 25px;
}

.colored_a{
    color: #f95736;
}

.colored_a:hover{
    transform: translateY(-5%);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.356); */
    color:  white
}
.form_header{
    margin-bottom: -7%;
    text-align: center;
    font-size: 20px;
}
.footer_colored_a{
    border: 2px solid #f95736;
    color: #f95736;
    padding: 5px;
}

.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background-color: #2d3a82;
    color: white;
    box-shadow: 0 10px 50px rgba(53, 52, 52, 0.2);
}

.logo{
    height: 8vh;
    padding-top: 1px;
    align-self: left;
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end
}

@media screen and (max-width: 1000px){
    .login_form{
        background-image: linear-gradient(100deg, #2d3a82  0%, #2d3a82  60%,
             rgba(0, 0, 0, 0) 60%), url('../Images/image 8 (1).png');
    }
    .form_input{
        width: 35vw;
    }
    .login_button{
        width: 27vw;
        padding: 2%;
    }
}

@media screen and (max-width: 760px){
    .login_form{
        background-image: linear-gradient(to left bottom, #2d3a82c9, #2d3a82c9), 
        url('../Images/image 8 (1).png');
        text-align: center;
        top: 20%;
        left: 22%;
        transform: translate(22%, 20%);
    }
    .form_label{
        text-align: left;
    }
    .form_input{
        width: 60vw;
    }
    .login_button{
        width: 27vw;
        padding: 2%;
    }
}

@media screen and (max-width: 700px){
    .fup_name{
        font-size: 12px;
    }
}

@media screen and (max-width: 450px){
    .fup_name{
        font-size: 10px;
    }

    .sign_in{
        font-size: 20px;
        padding:3%;
    }
    .form_label{
        font-size: 12px;
        padding:3%;
    }
    .text_below{
        font-size: 12px;
        padding:3%
    }
    .form_footer{
        font-size: 12px;
    }
    .login_form{
        width:100vw;
        top: 10%;
        left: 0%;
        transform: translate(0%, 10%);
        height: 70vh;
    }
    .form_input{
        width: 85vw;
    }
    .login{
        height: 90vh;
    }
    .login_button{
        width: 40vw;
        padding: 2%;
    }
    @keyframes moveInTop {
        0%{
            opacity: 0;
            top: 10%;
            left: 0%;
            transform: translate(0%, 10%) translateY(-100px)
        }
        100%{
            opacity: 1;
            top: 10%;
            left: 0%;
            transform: translate(0%, 10%) translateY(0)
        }
    }
}



